 .FormCompleto{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(110,122,111);
    background: linear-gradient(180deg, rgba(110,122,111,1) 0%, rgba(201,235,198,1) 50%, rgba(110,122,111,1) 99%);
  
  }
  
  .form{
    padding: 50px 55px;
    box-shadow: 0 0 px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center ;
    width: 340px; 
  }
  .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    
  }
.ContactoH2{
    color: #5f7560 ;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  } 
  .labelContacto{
    color: #516352;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  .inputContacto{
    padding: 10px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: #283629;
    outline: none;
   
  }
  
  input::placeholder, textarea::placeholder{
    color: #798f7b ;
  }
  
  .from-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
   
  
  }
  
  .from-txt{
    color: #779c86;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    
  }
  
  .btnContacto {
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    background-color: #7bd078;
 
    cursor: pointer;
  }
  
  .btnContacto:hover{
    background-color: #50E04E;
  }
  
  @media(max-width:991px){
    body{
      padding: 30px 30px;
    }
    form{
      padding: 50px 30px;
      width: 100%;
    }
    input{
      padding: 15px;
    }
} 